@import url("https://fonts.googleapis.com/css?family=Source Sans Pro");
body{
    background-color: white;
    font-family: Source Sans Pro;
    background-image: linear-gradient(#FF886A, #FCF6CF);
}
h1{
    text-align: center;
}
h3{
    font-size: 20px;
    text-align: center;
    margin: 2%;
}
h4{
    font-weight: bold;
    text-align: center;
    margin: 3%;
}
p{
    font-size: 16px;
    margin: 2%;
}
input{
    height: 28px;
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 5%;
    width: 150px;
    margin: 1% 0%;
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
    /* margin-left: auto;
    margin-right: auto; */
}
button{
    font-size: 18px;
    background-color: transparent;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    height: 35px;

    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* input starts */
.inputcontainer{
    margin-left: auto;
    margin-right: auto;

    padding: 2% 2%;
    max-width: 670px;

    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}
.inp{
    display: flex;
    flex-direction: column;
    padding-left: 10%;

    padding-top: 2%;
    padding-bottom: 2%;
    /* min-width: 70%; */
    /* align-items: center; */
    /* justify-self: center;
    justify-tracks: center; */
}
.q{
    min-width: 100px;
    margin: 1%;
}
.inputdiv{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inpmill{
    border-style: solid;
    border-radius: 15px;
    width: 47%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0.5%;
}

.inputbox{
    width: 70%;
    height: 20px;
}
.qi{
    font-size: 13px;
}

/* input ends */
/* default */
.defaultvaluecontainer{
    margin-left: auto;
    margin-right: auto;

    margin-top: 5%;
    margin-bottom: 5%;

    padding: 2% 2%;
    max-width: 670px;

    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}
.defaultdiffcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.def{
    display: flex;
    flex-direction: column;
    padding-left: 10%;

    padding-top: 2%;
    padding-bottom: 2%;
    
    /* min-width: 70%; */
    /* align-items: center; */
    /* justify-self: center;
    justify-tracks: center; */
}
/* default ends */

/* output starts */
.outputcontainer{
    margin-left: auto;
    margin-right: auto;

    padding: 2% 2%;
    max-width: 670px;

    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}

.cmnoutputcontainer{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    margin-bottom: 20px;
}

.mill{
    width: 130px;
    height: 140px;
    border-style: solid;
    border-radius: 15px;
    margin: 4px;
    padding-top: 7px;
    padding-bottom: 5px;
}
.qpair{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.ques{
    font-size: 18px;
    font-weight: bold;
    padding-left: 10%;
    min-width: 50px;
}
.ans{
    align-self: center;
}
/* output ends */

footer{
    background-color: rgba(0, 0, 0, 0.527);
    bottom: 0;
    color: white;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}
footer>p{
    padding-top: 15px;
}
.author{
    font-size: 110%;
    font-weight: bold;
}